@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: teal;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #060606;
    font-family: 'Sriracha', cursive;
    
    
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  /* font-family: 'Lobster', cursive; */
}
.wrapper{
  width:100%;
  min-height:100vh;
  overflow:hidden;
  background-color: #ddd;
}
.row{
  width:100%;
  padding:50px 100px;
}
.image-section{
  width:30%;
  float:left;

}
.image-section img{
  width:100%;
  height: auto;
}
.content{
  width:60%;
  float:left;
  margin-left:50px;
}
.content h1{
  font-size:80px;
  Letter-spacing:3.5px;
  margin-top:25px;
  color:#222;
}
.content p{
  font-size: 20px;
  font-family: serif;
  margin-top:10px;
  line-height:1.5;
}
@media screen and (max-width: 768px){
  .image-section{
      width:100%;
      float:none;
  }
  .content{
      width:100;
      float:none;
      margin-left:0px;
  }
  .content h1{
      font-size:60px;
      Letter-spacing:2px;
      margin-top:30px;
      
  }
  .content p{
      font-size: 18px;
      
}

}
/* nav ul li{
    position:relative;
    transition: all 0.3s;
}
nav ul li:hover{
    color: #8fc9be;
}
nav ul li::before{
    content: "";
    transition: all 0.4s ease-in-out;
    position:absolute;
    right: 50%;
    left:50%;
    bottom:0;
    height: 2px;
    background-color: teal;
}
nav ul li:hover::before{
    right:0;
    left:0;
}
li{
    list-style: none;
} */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1587620962725-abab7fe55159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .intro h1 {
    font-family: sans-serif;
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
  }
  
  .intro p {
    font-size: 20px;
    color: #d1d1d1;
    text-transform: uppercase;
    margin: 20px 0;
  }
  
  .intro button {
    background-color: #5edaf0;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
  }
  .achievements {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 80px;
  }
  
  .achievements .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  
  .achievements .work i {
    width: fit-content;
    font-size: 50px;
    color: #333333;
    border-radius: 50%;
    border: 2px solid #333333;
    padding: 12px;
  }
  
  .achievements .work .work-heading {
    font-size: 20px;
    color: #333333;
    text-transform: uppercase;
    margin: 10px 0;
  }
  
  .achievements .work .work-text {
    font-size: 15px;
    color: #585858;
    margin: 10px 0;
  }

  .about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    border-top: 2px solid #eeeeee;
  }
  
  .about-me img {
    width: 500px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .about-me-text h2 {
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin: 0;
  }
  
  .about-me-text p {
    font-size: 15px;
    color: #585858;
    margin: 10px 0;
  }

  /* .footer .copy {
    color: rgb(7, 7, 7);
  }
  
  .bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
  }
  
  .bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  
  .bottom-links .links span {
    font-size: 20px;
    color: rgb(6, 6, 6);
    text-transform: uppercase;
    margin: 10px 0;
  }
  
  .bottom-links .links a {
    text-decoration: none;
    color: #0c0c0c;
    padding: 10px 20px;
  } */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #ededed;
  }
  
  .footer {
    padding: 40px 0;
    background-color: #ffffff;
  }
  
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
  }
  
  .footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
  }
  
  .footer .social a:hover {
    opacity: 0.9;
  }
  
  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  
  .footer ul a:hover {
    opacity: 1;
  }
  
  .footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
  }